html {
  padding: 15px 0;
}

body {
  max-width: 1200px;
  margin: 0 auto;
  font-family: "Lucida Console", "Lucida Sans Typewriter", monospace;
  font-size: 12px;
}

header,
nav,
footer,
section,
article,
div {
  box-sizing: border-box;
}

hr {
  border: solid grey 1px;
}

.status-bar {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  min-height: 30px;
  font-size: 2em;
  padding: 10px;
  background-color: #d6d8db;
}

.timer,
.moves {
  width: 25%;
}

.rating {
  width: 30%;
}

.restart-btn {
  width: 20%;
  font-size: 1em;
  padding: 2px;
  background-color: #cce5ff;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.board {
  border: solid grey 2px;
  padding: 2px;
}

.card-row {
  display: flex;
}

.card {
  width: 25%;
  min-height: 200px;
  font-size: 8em;
  margin: 2px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: #23272b;
  transition-timing-function: ease-in;
}

.align-right {
  text-align: right;
}

@media screen and (max-width: 700px) {
  .timer,
  .moves,
  .rating,
  .restart-btn {
    width: 50%;
    font-size: 0.5em;
  }
}