* {
  /*border: solid #6ac500 1px;*/
}

html {
  padding: 15px 0;
}

body {
  max-width: 1200px;
  margin: 0 auto;
  font-family: Lucida Console, Lucida Sans Typewriter, monospace;
  font-size: 12px;
}

hr {
  border: solid grey 1px;
}

.status-bar {
  list-style-type: none;
}

li {
  display: inline;
  font-size: 1.5em;
}

.restart-btn {
  float: right;
}

.board {
  border: solid grey 2px;
  padding: 2px;
}

.card-row {
  display: flex;
}

.card {
  width: 25%;
  min-height: 200px;
  font-size: 8em;
  margin: 2px;
  text-align: center;
  display:flex;
  align-items: center;
  justify-content:center;
  color: white;
  background-color: #23272b;
  transition-timing-function: ease-in;
}

.align-right {
  text-align: right;
}